.list-container {
  margin-block-start: 2rem;
}

.list-container h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.list-container ul {
  list-style-type: none;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 1rem;
}
