.login-container {
  margin-block-start: 2rem;
}

.login-container h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.login-container .login-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  max-width: 30ch;
  margin-inline: auto;
}

.login-container .login-form .login-form-element {
  display: flex;
  min-width: 25ch;
}

.login-container .login-form .login-form-element input {
  margin-inline-start: auto;
}
